.site-name h1{
    font-size: 30px;
    line-height: 65px;
    margin-left: 20px;
  }

  .menu{
    width: 100%;
    height: 70px;
    background: #87dfd3;
    display: flex;
    justify-content: space-between;
  }
  .page-link{
      opacity: 0.6;
  }
  .menu-list{
    width: 550px;
    padding: 20px 20px 0 20px;
    display: flex;
  }
  .menu li a, .footer-menu a{ 
    font-size: 20px;
    text-decoration: none;
    width: 150px;
    color: #000;
    margin-right: 50px;
  }
  .menu li:first-child{
    margin-left: 0;
  }
  .menu li a:hover, .footer-menu a:hover{
    opacity: 1.0;
  }
  .main{
    margin-top: 50px;
  }
  .new-admin{
    display: flex;
  }
  .new-create{
      text-align: center;
      margin: 30px auto 0 auto;
  }

  .add-btn{
      text-decoration: none;
      color: #fff;
      background: #87dfd3;
      padding: 13px;
      border-radius: 5px;
      font-weight: bold;
  }

  .add-btn:hover{
      background: #fff;
      color: #87dfd3;
      border: #87dfd3 solid 2px;
  }

  table{
    margin: 30px auto 60px auto;
    width: 960px;
    border-collapse:separate;
    border-spacing: 0;
  }
  table th:first-child{
    border-radius: 5px 0 0 0;
  }
  table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #caf1ec;
  }
  table .comment{
    width: 430px;
  }
  .comment-td{
    text-align: left;
    vertical-align: middle;
    padding: 7px;
  }
  table .user{
    width: 120px;
  }
  table .mail{
    width: 200px;
  }
  table th{
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 17px;
    background: linear-gradient(#87dfd3,#87dfd3);
    border-left: 2px solid #caf1ec;
    border-top: 2px solid #caf1ec;
    border-bottom: 2px solid #caf1ec;
    padding: 10px 0;
  }
  .edit-btn, .preview-btn, .delete-btn{
    text-align: center;
    margin-bottom: 10px;
  }
  .id{
      width: 50px;
  }
  .edit, .delete, .preview{
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      border-radius: 5px;
      background: #87dfd3;
      border: #fff solid 2px;
      padding: 5px 30px;
      text-decoration: none;
  }
  .edit:hover, .delete:hover, .preview:hover{
      background: #fff;
      color: #87dfd3;
      border: #87dfd3 solid 2px;
  }
  .comment{
    width: 350px;
  }
  table td{
    text-align: center;
    border-left: 2px solid #caf1ec;
    border-bottom: 2px solid #caf1ec;
    border-top:none;
    padding: 10px 0;
  }
  
  table td:last-child{
    border-right: 2px solid #caf1ec;
  }

  table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
  
  table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
  }
  .footer-menu{
    background: #87dfd3;
    margin: 0 auto;
    width: 100%;
    height: 100px;
  }
  .footer-menu ul{
    width: 600px;
    margin: 0 auto;
    padding: 35px 0;
  }
  .footer-menu a{
    font-size: 18px;
    color: #fff;
  }
  .admin-footer{
    justify-content: space-between;
  }
  .new-create-admin{
      display: flex;
      margin: 0 auto;
  }
  .form-title{
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      margin-bottom: 25px;
  }
  .form{
      display: flex;
      margin: 40px auto;
  }
  .form-title::before, .form-title::after{
    content: "";
    border-top: solid #000;
    width: 0.5em
  }
  .form-title::after{
    margin-left: 0.3em;
  }
  .form-title::before{
    margin-right: 0.3em;
  }
  .form input{
    font-size: 20px;
    line-height: 25px;
    width: 300px;
    margin: 20px 0;
    border: none;
    padding: 10px;
    border-bottom: 1px solid #000;
  }
  .price-select, .user_status{
    margin: 1em auto;
    color: #757575;
    font-size: 19px;
  }
  .price, .status_select{
    width: 100%;
    cursor: pointer;
    background: #fff;
    height: 3em;
    font-size: 15px;
    border-radius: 0px;
  }
  .comment-text, .history, .character{
    border: #757575 solid 1px;
    padding: 5px;
    margin-bottom: 20px;
  }
  .btn{
    text-align: center;
    height: 100px;
    margin-bottom: 30px;
  }
  input.submit-btn{
    margin-top: 50px;
    width: 150px;
    height: 50px;
    padding: 12px 20px;
    font-size: 1.2em;
    background: #87dfd3;
    border-style: none;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }
  input.submit-btn:hover{
    color: #87dfd3;
    border: 2px solid #87dfd3;
    background: #fff;
    font-weight: bold;
    padding: 12px 20px;
  }
  input[type="file"]{
    display:none;
  }
  label{
    text-align: center;
    padding: 7px 40px;
    color: #757575;
    cursor: pointer;
    border: #87dfd3 solid 2px;
    border-radius: 5px;
  }
  label:hover{
    background: #f3faf9;
  }
  .brand-img{
    margin: 30px 0;
    text-align: center;
  }

  