/* ここからhome.htmlのCSS */
.site-title h1{
  font-size: 30px;
  line-height: 65px;
  margin-left: 20px;
}
.header-img{
  width: 600px;
  height: 400px;
  margin: 0px auto;
}
.header-title{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 70px;
}
.page-title{
  color: #000;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
.header-title p{
  color: #000;
  text-align: center;
  font-size: 15px;
}
.main{
  width: 900px;
  margin: 0 auto;
  display: flex;
}
.menu{
  width: 100%;
  height: 70px;
  background: #87dfd3;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  justify-content: space-between;
}
.page-link{
  opacity: 0.6;
}
.menu-list{
  width: 700px;
  padding: 20px 20px 0 20px;
  display: flex;
}
.admin-list{
  width: 550px;
}
.menu li a, .footer-menu a{ 
  font-size: 20px;
  text-decoration: none;
  width: 150px;
  color: #000;
  margin-right: 35px;
}
.admin-list li a{
  margin-right: 50px;
}
.menu li:first-child{
  margin-left: 0;
}
.menu li a:hover, .footer-menu a:hover{
  opacity: 1.0;
}
.main{
  margin-top: 50px;
}
.home-image{
  width: 400px;
  height: 250px;
}
.contents-explain{
  margin-bottom: 80px;
  width: 960px
}
.explain{
  display: flex;
}
.explain-title{
  margin: 0 auto 30px auto;
  width: 330px;
  border-bottom: 3px solid #87dfd3;
}
.explain-text{
  width: 450px;
  margin-right: 50px;
  padding: 30px 0 30px 0;
}
.footer-menu{
  background: #87dfd3;
  margin: 0 auto;
  width: 100%;
  height: 100px;
}
.footer-menu ul{
  width: 600px;
  margin: 0 auto;
  padding: 35px 0;
}
.footer-menu a{
  font-size: 18px;
  color: #fff;
}
.admin-footer-list{
  justify-content: space-between;
}
.page-content{
  margin-bottom: 10px;
}
.main-brand{
  margin: 0 auto;
}
.brand-logo{
  width: 300px;
  height: 200px;
}
.brand-area{
  width: 250px;
  text-align: center;
  margin: 20px auto;
  border-bottom: solid #87dfd3;
  font-size: 25px;
}
.about-brand{
    color: #000;
    text-align: center;
    font-size: 25px;
    margin: 20px auto 0 auto;
    width: 300px;
    border-bottom: solid #87dfd3;
}
.brand-name{
  text-align: center;
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #000;
}
.brand-name:hover{
  opacity: 0.6;
}
.brand-introduce{
  width: 400px;
  margin-bottom: 50px;
}
.brand-introduce p{
  text-align: center;
}

.american-brand, .italian-brand, .asia-brand{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sub-image{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.sub-image img{
  width: 300px;
  height: 250px;
  border: solid #000 1px;
}
.brand-detail{
  width: 960px;
  margin: 0 auto;
}
.history, .character, .price, .hp{
  border-bottom: 2px solid #87dfd3;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}
.brand-history, .brand-character, .brand-price{
  margin-bottom: 25px;
}
.history{
  width: 90px;
}
.character{
  width: 110px;
}
.price{
  width: 60px;
}
.HomePage{
  width: 50px;
}
.price{
  margin-right: 60px;
}
.hp{
  margin-right: 70px;
  width: 50px;
  letter-spacing: 0.1em;
}
.brand-price, .brand-hp{
  display: flex;
}
.brand-hp{
  margin-bottom: 50px;
}

/* galleryのCSS開始 */
.gallery-header{
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 70px;
}
.new-post{
  position: absolute;
  right: 0;
  margin: 30px;
  display: flex;
}
.new-post p{
  margin-right: 15px;
}
.new, .favorite{
  text-decoration: none;
  padding: 10px;
  background: #87dfd3;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
}
.new:hover, .favorite:hover{
  opacity: 0.6;
}
.gallery-img{
  width: 280px;
  height: 180px;
}
.gallery-link{
  text-decoration: none;
  color: #000;
}
.gallery-link:hover{
  opacity: 0.6;
}
.main-title{
  width: 250px;
  text-align: center;
  margin: 20px auto;
  border-bottom: solid #87dfd3;
  font-size: 25px;
}
.post-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post-display{
  width: 300px;
  margin-bottom: 50px;
}
/* gallery詳細ページのCSS */
.photo-detail{
  width: 960px;
}
.photo-detail-info{
  width: 960px;
}
.course-detail-info{
  margin-bottom: 30px;
  width :960px;
}
.gallery-comment{
  font-size: 13px;
  width: 270px;
  margin: 8px 0;
}
.other-user-link{
  text-decoration: none;
  color: #000;
}
.other-user-link:hover{
  opacity: 0.7;
  border-bottom: 1px solid #000;
}
.photo-detail{
  display: inline-block;
  margin-top: 40px;
}
.photo-detail h2{
  font-size: 25px;
  border-bottom: 3px #87dfd3 solid;
  width: 140px;
  text-align: center;
  margin-bottom: 15px;
}
.photo-detail p{
  font-size: 17px;
  margin-bottom: 70px;
}

/* 新規投稿画面開始 */
.main-newpost{
  margin: 0 auto 50px auto;
}

.form{
  justify-content: center;
}
.comment-post{
  font-size: 20px;
  line-height: 25px;
  width: 500px;
  margin: 15px 0;
  padding: 10px;
}
.image-post{
  font-size: 20px;
  margin: 0px auto 10px auto;
  width: 300px;

}
.btn{
  text-align: center;
  height: 100px;
  margin-bottom: 30px;
}
input.submit-btn{
  margin-top: 20px;
  width: 150px;
  height: 50px;
  padding: 12px 20px;
  font-size: 1.2em;
  background: #87dfd3;
  border-style: none;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
}
input.submit-btn:hover{
  color: #87dfd3;
  border: 2px solid #87dfd3;
  background: #fff;
  font-weight: bold;
  padding: 12px 20px;
}

/* ここからshop.htmlのCSS */
.shop-name{
  font-size: 18px;
  font-weight: bold;
}
.shop-place, .course-place{
  font-size: 12px;
  color: #4169E1;
}
.shop-display, .course-display{
  width: 400px;
  margin-bottom: 50px;
}
.shop-img, .course-img{
  width: 400px;
  height: 280px;
  margin-top: 5px;
}
/* ここからcourse.htmlのCSS */
.course-name{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.course-name:hover{
  opacity: 0.6;
}
.course-info{
  margin-bottom: 10px;
}
.sub-course-image{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.sub-course-image img{
  width: 300px;
  height: 250px;
}
.course-information, .course-map{
  width: 210px;
  margin-bottom: 15px;
  border-bottom: 2px solid #87dfd3;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}
.course-chara{
  margin-bottom: 60px;
}
.chara{
  border: solid 1px #ccc;
  width: 500px;
  height: 250px;
}
/* ここからマイページ */
.mypage-title{
  font-size: 30px;
  border-bottom: #87dfd3 solid 3px;
  width: 180px;
  text-align: center;
  margin: 10px auto;
}
.icon-img img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
}
.icon-img p{
  text-align: center;
  width: 200px;
  line-height: 40px;
  font-size: 20px;
}
.profile{
  height: 200px;
  padding: 20px;
}
.mypage-menu{
  margin: 60px auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.mypage-menu a, .profile-edit-btn{
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  background: #87dfd3;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  border: solid #87dfd3 3px;
}
.mypage-menu a:hover, .profile-edit-btn:hover{
  background: #fff;
  color: #87dfd3;
  cursor: pointer;
}
.profile-edit-btn{
  display: flex;
  margin: 30px auto;
}

/* mypage-editのCSS */
.profile-edit-form{
  width: 500px;
  margin: 0 auto;
}

.profile-edit-name{
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
}
.profile-edit-sentence{
  width: 400px;
  height: 300px;
  border: solid #ccc 1px;
}
.profile-form{
  display: flex;
}

/* ここからadmin-brandのpreview画面 */
.admin{
  display: flex;
  margin: 20px 0;
  justify-content: center;
}
.admin_btn{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: #87dfd3;
  border-radius: 5px;
  padding: 12px;
  margin: 20px;
  border: #fff solid 2px;
}
.brand-admin-operate:hover, .admin_btn:hover{
  background: #fff;
  border: #87dfd3 solid 2px;
  color: #87dfd3;
}
.shop-preview{
  width: 400px;
  margin: 0 auto 30px auto;
}
.preview-main{
  margin-top: 0px;
}

.comment-text, .history, .character, .access-text, .course_info, .introduction{
  border: #757575 solid 1px;
  padding: 5px;
  margin-bottom: 20px;
}
.btn{
  text-align: center;
  height: 100px;
  margin-bottom: 30px;
}
input.submit-btn{
  margin-top: 50px;
  width: 150px;
  height: 50px;
  padding: 12px 20px;
  font-size: 1.2em;
  background: #87dfd3;
  border-style: none;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
input.submit-btn:hover{
  color: #87dfd3;
  border: 2px solid #87dfd3;
  background: #fff;
  font-weight: bold;
  padding: 12px 20px;
}
input[type="file"]{
  display:none;
}
.gallery_post_label, .course_post_label{
  text-align: center;
  padding: 7px 40px;
  color: #757575;
  cursor: pointer;
  border: #87dfd3 solid 2px;
  border-radius: 5px;
}
.post-img{
  text-align: center;
  margin: 30px;
}

.gallery_post_label:hover, .course_post_label:hover{
  background: #f3faf9;
}
.form input{
  font-size: 20px;
  line-height: 25px;
  width: 300px;
  margin: 20px 0;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #000;
}
.form p{
  text-align: center;
}
