/* ここからhome.htmlのCSS */
.site-title h1{
  font-size: 30px;
  line-height: 65px;
  margin-left: 20px;
}
.header-img{
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
.header-title{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.page-title{
  color: #000;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
.header-title p{
  color: #000;
  text-align: center;
  font-size: 15px;
}
.main{
  width: 900px;
  margin: 0 auto;
  display: flex;
}
.menu{
  width: 100%;
  height: 70px;
  background: #87dfd3;
  display: flex;
  justify-content: space-between;
}

.menu-list{
  width: 600px;
  padding: 20px 20px 0 20px;
  display: flex;
}
.menu li a, .footer-menu a{ 
  font-size: 20px;
  text-decoration: none;
  width: 150px;
  color: #000;
  margin-right: 35px;
}
.menu li:first-child{
  margin-left: 0;
}
.menu li a:hover, .footer-menu a:hover{
  font-weight: bold;
}
.main{
  margin-top: 50px;
}
.home-image{
  width: 400px;
  height: 250px;
}
.contents-explain{
  margin-bottom: 80px;
  width: 960px
}
.explain{
  display: flex;
}
.explain-title{
  margin: 0 auto 30px auto;
  width: 330px;
  border-bottom: 3px solid #87dfd3;
}
.explain-text{
  width: 450px;
  margin-right: 50px;
  padding: 30px 0 30px 0;
}
.footer-menu{
  background: #87dfd3;
  margin: 0 auto;
  width: 100%;
  height: 100px;
}
.footer-menu ul{
  width: 600px;
  margin: 0 auto;
  padding: 35px 0;
}
.footer-menu a{
  font-size: 18px;
  color: #fff;
}
.page-content{
  margin-bottom: 10px;
}
.main-brand{
  margin: 0 auto;
}
.brand-logo{
  width: 300px;
  height: 200px;
}
.brand-area{
  width: 250px;
  text-align: center;
  margin: 20px auto;
  border-bottom: solid #87dfd3;
  font-size: 25px;
}
.about-brand{
    color: #000;
    text-align: center;
    font-size: 30px;
    margin: 20px auto 0 auto;
    width: 300px;
    border-bottom: solid #87dfd3;
}
.brand-name{
  text-align: center;
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #000;
}
.brand-name:hover{
  font-weight: bold;
  font-size: 23px;
  opacity: 0.8;
}
.brand-introduce{
  width: 400px;
  margin-bottom: 50px;
}
.brand-introduce p{
  text-align: center;
}
.american-brand, .italian-brand, .asia-brand{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sub-image{
  text-align: center;
  margin-bottom: 50px;
}
.sub-image img{
  width: 300px;
  height: 250px;
  border: solid #000 1px;
}
.brand-detail{
  width: 960px;
  margin: 0 auto;
}
.history, .character, .price, .hp{
  border-bottom: 2px solid #87dfd3;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}
.brand-history, .brand-character, .brand-price{
  margin-bottom: 25px;
}
.history{
  width: 90px;
}
.character{
  width: 110px;
}
.price{
  width: 60px;
}
.HomePage{
  width: 50px;
}
.price{
  margin-right: 60px;
}
.hp{
  margin-right: 70px;
  width: 50px;
  letter-spacing: 0.1em;
}
.brand-price, .brand-hp{
  display: flex;
}
.brand-hp{
  margin-bottom: 50px;
}