.signup-page, .login-page{
  margin: 50px auto;
  height: 400px;
  width: 450px;
  border: solid #87dfd3;
  padding: 20px;
}
.site-name h1{
  font-size: 30px;
  line-height: 65px;
  margin-left: 20px;
}
.site-title, .explain-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.site-title::before, .site-title::after, .explain-title::after, .explain-title::before{
  content: "";
  border-top: solid #000;
  width: 0.5em
}
.site-title::before, .explain-title::before{
  margin-right: 0.3em;
}
.site-title::after, .explain-title::after{
  margin-left: 0.3em;
}
.form{
  display: flex;
  justify-content: center;
}

.form input{
  font-size: 20px;
  line-height: 25px;
  width: 300px;
  margin: 15px 0;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #000;
}
.btn{
  text-align: center;
  height: 100px;
  margin-bottom: 30px;
}
input.submit-btn{
  margin-top: 20px;
  width: 150px;
  height: 50px;
  padding: 12px 20px;
  font-size: 1.2em;
  background: #87dfd3;
  border-style: none;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
}
input.submit-btn:hover{
  color: #87dfd3;
  border: 2px solid #87dfd3;
  background: #fff;
  font-weight: bold;
  padding: 12px 20px;
}
.create-account{
  width: 300px;
  margin: 0 auto;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ccc;
}
.sign-up{
  margin-left: 1em;
  text-decoration: none;
  color: #87dfd3;
  font-weight: bold;
}
.sign-up:hover{
  border-bottom: 2px solid #87dfd3;
  opacity: 0.7;
}
/* ここからhome.htmlのCSS */
.header-img{
  width: 960px;
  height: 600px;
}
.header-title{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 600px;
  width: 960px;
  background: #000;
  padding-top: 70px;
}
.header-title:before{
  content: ' ';
  width: 960px;
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-title h1{
  color: #fff;
  text-align: center;
  font-size: 50px;
}
.header-title p{
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.header-caption{
  position: absolute;
  width: 100%;
  padding-bottom: 60px;
}
.main{
  width: 900px;
  margin: 0 auto;
  display: flex;
}
.menu{
  width: 100%;
  height: 70px;
  background: #87dfd3;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
  justify-content: space-between;
}

.menu-list{
  width: 700px;
  padding: 20px 20px 0 20px;
  display: flex;
}
.menu li a, .footer-menu a{ 
  font-size: 20px;
  text-decoration: none;
  width: 150px;
  color: #000;
  margin-right: 35px;
}
.menu li:first-child{
  margin-left: 0;
}
.menu li a:hover, .footer-menu a:hover{
  opacity: 1.0;
}
.main{
  margin-top: 50px;
}
.home-image{
  width: 400px;
  height: 250px;
}
.contents-explain{
  margin-bottom: 80px;
  width: 960px
}
.explain{
  display: flex;
}
.explain-title{
  margin: 0 auto 30px auto;
  width: 330px;
  border-bottom: 3px solid #87dfd3;
}
.explain-text{
  width: 450px;
  margin-right: 50px;
}
.footer-menu{
  background: #87dfd3;
  margin: 0 auto;
  width: 100%;
  height: 100px;
}
.footer-menu ul{
  width: 600px;
  margin: 0 auto;
  padding: 35px 0;
}
.footer-menu a{
  font-size: 18px;
  color: #fff;
}